# Виртуальное окружение
.venv/
venv/
env/
ENV/

# Кэш mypy
.mypy_cache/

# Python временные файлы
__pycache__/
*.py[cod]

# Локальные конфигурационные файлы
*.env
*.ini

# Логи и базы данных
*.log
*.sqlite3

# Файлы IDE и редакторов
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Операционные файлы
.DS_Store
Thumbs.db

# Другие временные файлы
*~
.*.swp
